<form action="{% url 'polls:vote' pergunta.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>
            <h1>{{ pergunta.texto }}</h1>
        </legend>
        {% if mensagem_erro %}<p><strong>{{ mensagem_erro }}</strong></p>{% endif %}
        {% for alternativa in pergunta.alternativa_set.all %}
        <input type="radio" name="alternativa" id="alternativa{{ forloop.counter }}" value="{{ alternativa.id }}">
        <label for="alternativa{{ forloop.counter }}">{{ alternativa.texto }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
</form>